@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-primary;
}

@layer components {
    .custom-btn.bg-white:hover {
        @apply bg-gray-300;
    }

    .custom-btn.bg-blue-500:hover {
        @apply bg-blue-700;
    }

    .icons {
        @apply w-7 m-3;
        filter: grayscale(100%);
        transition: filter 0.3s ease-in-out;
    }

    .icons:hover {
        filter: grayscale(0%) brightness(1.2); /* Remove grayscale and add brightness */
    }
}
